@keyframes PopTop {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes PopRight {
  from {
    transform: translateX(200px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes PopLeft {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes PopBottom {
  from {
    transform: translateY(200px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes asset {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}

.anim {
  opacity: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.app {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

.app::-webkit-scrollbar {
  display: none;
}

.scrollToTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1000;
  transform: scale(0);
  transition: all ease-in-out 0.2s;
}

.scrollToTop > button {
  padding: 15px;
}

section {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  min-height: 100vh;
  position: relative;
  color: white;
}

.s_main {
  background: linear-gradient(120deg, #161f6d, #565ea5);
}

.s_main .logo {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 5rem;
  top: 10rem;
  object-fit: contain;
  cursor: pointer;
}

.s_main > nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s_main > nav > a {
  padding: 10px 50px;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  width: max-content;
}

.s_main > nav > a:hover {
  margin: 0 15px;
  padding: 8px 48px;
  border: 2px solid white;
  background: white;
  color: black;
}

.s_main > nav > a:last-of-type {
  border: 2px solid white;
  border-radius: 30px;
}

.s_main > nav > a:last-of-type:hover {
  padding: 10px 50px;
  margin: 0 15px;
}

.s_main .slogan_con {
  position: absolute;
  top: 50%;
  left: 5rem;
  user-select: none;
  font-size: large;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.s_main .slogan_con > h1 {
  font-size: 2.5em;
}

.s_main .slogan_con > h1:first-of-type {
  letter-spacing: 12px;
  word-spacing: 15px;
}

.s_main .slogan_con > h1:nth-of-type(2) {
  background: white;
  font-weight: 500;
  color: #161f6d;
}

.s_main .slogan_con > h1:last-of-type {
  word-spacing: 25px;
  letter-spacing: 15px;
  font-weight: 900;
}

.s_main > button {
  z-index: 1000;
  position: absolute;
  bottom: 20%;
  left: 5rem;
  padding: 15px 25px;
  background-color: white;
  font-weight: 900;
  text-transform: capitalize;
  border-radius: 5px;
  color: #161f6d;
  transition: all ease 0.2s;
}

.s_main > button:hover {
  background: rgba(22, 31, 109, 0.2);
  color: white;
}

.s_main .asset_one {
  animation: asset ease-in-out infinite 1s alternate-reverse;
  position: absolute;
  bottom: 20%;
  right: 10rem;
  width: 25%;
  object-fit: contain;
}

.s_main .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.s_one {
  background-color: #161f6d;
  padding: 50px;
}

.s_one .slogan_con {
  margin: 0 auto;
  font-weight: 600;
  font-size: xx-large;
  width: max-content;
  text-align: center;
}
.s_one .slogan_con > p {
  padding: 10px;
}

.s_one .home_info {
  position: absolute;
  left: 5%;
  top: 45%;
  width: 600px;
  font-weight: 1000;
  text-shadow: 0 0 10px black;
  font-size: xx-large;
}

/* .s_offer */

.s_offer {
  display: flex;
}

.s_offer > div {
  flex: 1;
}

.s_offer > div:first-of-type {
  background: linear-gradient(120deg, #161f6d, #565ea5);

  font-size: xx-large;
  display: flex;
  border-radius: 0 100px 0 0;
  flex-direction: column;
}

.s_offer > div:first-of-type > h1 {
  margin-left: 20px;
  margin-top: 20px;
}
.s_offer > div:first-of-type .anim_offer {
  position: relative;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.s_offer > div:first-of-type > div > div {
  position: absolute;
  width: 33.333%;
  height: 33.333%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: black;
  background-color: white;
  overflow: hidden;
  cursor: pointer;
}

.s_offer > div:first-of-type > div > div > img {
  width: 100%;
  object-fit: cover;
}

.s_offer > div:first-of-type > div > div > h6 {
  position: absolute;
  text-shadow: 0 0 5px black;
  color: white;
  transition: all ease-in 0.2s;
}

.s_offer > div:first-of-type > div > div:hover > h6 {
  transform: translateY(100px) scale(1.2);
}

/* .s_offer > div:first-of-type > div > div:nth-of-type(1) {
  animation: magix 3s 0s forwards ease, one 1s 18s forwards ease,
    card 0s 18s forwards ease;
}
.s_offer > div:first-of-type > div > div:nth-of-type(2) {
  animation: magix 5s 2s forwards ease, two 1s 18.5s forwards ease,
    card 0s 18s forwards ease;
}
.s_offer > div:first-of-type > div > div:nth-of-type(3) {
  animation: magix 5s 5s forwards ease, three 1s 19s forwards ease,
    card 0s 18s forwards ease;
}
.s_offer > div:first-of-type > div > div:nth-of-type(4) {
  animation: magix 5s 8s forwards ease, four 1s 19.5s forwards ease,
    card 0s 18s forwards ease;
}
.s_offer > div:first-of-type > div > div:nth-of-type(5) {
  animation: magix 5s 11s forwards ease, five 1s 20s forwards ease,
    card 0s 18s forwards ease;
}
.s_offer > div:first-of-type > div > div:nth-of-type(6) {
  animation: magix 5s 14s forwards ease, six 0.5s 20.5s forwards ease,
    card 0s 18s forwards ease;
} */

/* Offer Anim */

@keyframes card {
  to {
    position: relative;
    margin: 2px 10px;
    width: calc(50% - 20px);
    height: calc(32.333% - 10px);
    flex-shrink: 0;
  }
}

@keyframes magix {
  0% {
    opacity: 1;
    transform: translateY(calc(50vh + 33.333%));
  }

  50% {
    border-radius: 20px;
    opacity: 1;
    width: 50%;
    height: 50%;
    transform: translateY(calc(20vh - 50%));
  }

  80% {
    width: 33.333%;
    opacity: 0;
    transform: translateY(-100vh);
  }
}

@keyframes one {
  from {
    transform: translate(-100px, -100px);
  }
  to {
    position: relative;
    opacity: 1;
  }
}

@keyframes two {
  from {
    transform: translate(100px, -100px);
  }
  to {
    opacity: 1;
  }
}

@keyframes three {
  from {
    transform: translate(-100px, 0px);
  }
  to {
    opacity: 1;
  }
}

@keyframes four {
  from {
    transform: translate(100px, 0px);
  }
  to {
    opacity: 1;
  }
}

@keyframes five {
  from {
    transform: translate(-100px, 100px);
  }
  to {
    opacity: 1;
  }
}

@keyframes six {
  from {
    transform: translate(100px, 100px);
  }
  to {
    opacity: 1;
  }
}

/* Offer Anim */

.s_scouting {
  background: linear-gradient(120deg, #161f6d, #565ea5);
}

/* Tablet */

@media (max-width: 1500px) {
}

/* Tablet end */

/* Mobile */

@media (max-width: 600px) {
}

/* Mobile end */
