@keyframes PopTop {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes PopRight {
  from {
    transform: translateX(200px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes PopLeft {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes PopBottom {
  from {
    transform: translateY(200px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes asset {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}

.anim {
  opacity: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.app {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

.app::-webkit-scrollbar {
  display: none;
}

.scrollToTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1000;
  transform: scale(0);
  transition: all ease-in-out 0.2s;
}

.scrollToTop > button {
  padding: 15px;
}

section {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  min-height: 100vh;
  height: auto;
  position: relative;
  color: white;
}

.s_main {
  background: linear-gradient(120deg, #161f6d, #565ea5);
}

.s_main .logo {
  width: 200px;
  height: 200px;
  margin: 20px;
  object-fit: contain;
  cursor: pointer;
}

.s_main > nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s_main > nav > a {
  padding: 10px 50px;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  width: max-content;
}

.s_main > nav > a:hover {
  margin: 0 15px;
  padding: 8px 48px;
  border: 2px solid white;
  background: white;
  color: black;
}

.s_main > nav > a:last-of-type {
  border: 2px solid white;
  border-radius: 30px;
}

.s_main > nav > a:last-of-type:hover {
  padding: 10px 50px;
  margin: 0 15px;
}

.s_main .slogan_con {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2%;
  user-select: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.s_main .slogan_con > h1 {
  /* font-size: 55.5px; */
  font-size: 4rem;
}

.s_main .slogan_con > h1:first-of-type {
  letter-spacing: 12px;
  word-spacing: 15px;
}

.s_main .slogan_con > h1:nth-of-type(2) {
  background: white;
  font-weight: 500;
  color: #161f6d;
}

.s_main .slogan_con > h1:last-of-type {
  word-spacing: 25px;
  letter-spacing: 15px;
  font-weight: 900;
}

.s_main > button {
  z-index: 1000;
  position: absolute;
  top: 65%;
  left: 2%;
  padding: 15px 25px;
  background-color: white;
  font-weight: 900;
  text-transform: capitalize;
  border-radius: 5px;
  color: #161f6d;
  transition: all ease 0.2s;
}

.s_main > button:hover {
  background: white;
}

.s_main .asset_one {
  animation: asset ease-in-out infinite 1s alternate-reverse;
  position: absolute;
  bottom: 20%;
  right: 10%;
  width: 30%;
  object-fit: contain;
}

.s_main .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.s_one {
  background-color: #161f6d;
  padding: 50px;
}

.s_one .slogan_con {
  margin: 0 auto;
  font-weight: 600;
  font-size: xx-large;
  width: max-content;
  text-align: center;
}
.s_one .slogan_con > p {
  padding: 10px;
}

.s_one .home_info {
  position: absolute;
  left: 5%;
  top: 45%;
  width: 600px;
  font-weight: 1000;
  text-shadow: 0 0 10px black;
  font-size: xx-large;
}

/* .s_offer */

.s_offer {
  display: flex;
  height: max-content;
}

.s_offer > div {
  flex: 1;
}

.s_offer > div:first-of-type {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
}

.s_offer > div:first-of-type > h1 {
  margin-left: 40px;
  margin-top: 40px;
}
.s_offer > div:first-of-type .anim_offer {
  position: relative;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}
.s_offer > div:first-of-type > div > div {
  position: absolute;
  width: 33.333%;
  height: 33.333%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: black;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 10px 2px black;
}

.s_offer > div:first-of-type > div > div > h6 {
  position: absolute;
  transition: all ease-in 0.2s;
  text-align: center;
}

.s_offer > div:first-of-type > div > div:hover > h6 {
  font-size: small;
  transform: translateY(100px) scale(1.2);
}

@keyframes card {
  to {
    position: relative;
    margin: 10px;
    width: calc(50% - 20px);
    height: calc(33.333% - 20px);
    flex-shrink: 0;
  }
}

@keyframes magix {
  0% {
    opacity: 1;
    transform: translateY(calc(50vh + 33.333%));
  }

  50% {
    border-radius: 20px;
    opacity: 1;
    width: 50%;
    height: 50%;
    transform: translateY(calc(20vh - 50%));
  }

  80% {
    width: 33.333%;
    opacity: 0;
    transform: translateY(-100vh);
  }
}

@keyframes one {
  from {
    transform: translate(-100px, -100px);
  }
  to {
    position: relative;
    opacity: 1;
  }
}

@keyframes two {
  from {
    transform: translate(100px, -100px);
  }
  to {
    opacity: 1;
  }
}

@keyframes three {
  from {
    transform: translate(-100px, 0px);
  }
  to {
    opacity: 1;
  }
}

@keyframes four {
  from {
    transform: translate(100px, 0px);
  }
  to {
    opacity: 1;
  }
}

@keyframes five {
  from {
    transform: translate(-100px, 100px);
  }
  to {
    opacity: 1;
  }
}

@keyframes six {
  from {
    transform: translate(100px, 100px);
  }
  to {
    opacity: 1;
  }
}

/* Offer Anim */

.s_offer > div:last-of-type {
  display: flex;
  justify-content: baseeline;
  align-items: center;
  color: black;
  padding: 50px;
  user-select: none;
}

.s_offer > div:last-of-type > div > h1 {
  margin-left: 30px;
}

.s_offer > div:last-of-type > div > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.s_offer > div:last-of-type > div > ul > li {
  font-size: larger;
  width: calc(50% - 60px);
  margin: 20px;
  padding: 10px;
  border-top: 5px solid #161f6d;
}

/* .s_offer */

.s_scouting {
  background: linear-gradient(120deg, #161f6d, #565ea5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.s_scouting > h1 {
  font-size: 3rem;
  margin: 3rem 0px;
}

.s_scouting > div {
  padding: 100px;
  width: 60%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.s_scouting > div > div {
  border-top: 5px solid white;
  width: 100%;
  transition: all ease 0.5s;
  overflow: hidden;
}

.s_scouting > div > div > p {
  margin: 10px;
  padding: 10px;
}

.s_scouting > div > div > h1 {
  position: absolute;
  transform: translate(10px, -150%);
}

.s_scouting > div > div > .expand {
  position: absolute;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  transition: all ease 0.5s;
  /* transform: translate(-120%, -60%); */
}

.s_scouting > div > div > .expand > button {
  color: white;
  padding: 15px;
}

/* footer */

footer {
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: start;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

footer > a {
  text-decoration: none;
  color: white;
  margin: 5px;
  padding: 5px;
}

footer > a:hover {
  color: yellow;
}

footer > span {
  user-select: none;
  position: absolute;
  left: 0;
  color: white;
  margin: 10px;
}

/* footer end*/

/* Tablet */

@media (max-width: 1500px) {
}

/* Tablet end */

/* Mobile */

@media (max-width: 600px) {
}

/* Mobile end */
