@keyframes PopTop {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes PopRight {
  from {
    transform: translateX(200px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes PopLeft {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes PopBottom {
  from {
    transform: translateY(200px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes asset {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}

.anim {
  opacity: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.app {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

.app::-webkit-scrollbar {
  display: none;
}

.contactUs {
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  box-shadow: 0 0 10px black;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1000;
  transition: all ease 500ms;
}

.contactUs > button {
  padding: 15px;
  transition: all ease 250ms;
}

.expandContactUs {
  background-color: white !important;
  align-items: unset !important;
  justify-content: unset !important;
  overflow: auto !important;
  width: 450px !important;
  height: 800px !important;
  border-radius: 10px !important;
  margin: 50px !important;
  mix-blend-mode: unset !important;
}

.expandContactUs > .contactUsHeader {
  padding-bottom: 40px;
  background-color: teal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expandContactUs > .contactUsHeader > h1 {
  user-select: none;
  padding: 10px;
  font-size: large;
  margin-left: 35px;
  font-weight: unset;
  text-align: center;
  flex: 1;
}
.expandContactUs > .contactUsHeader > button {
  padding: 10px;
  min-width: unset;
  color: white;
}

.expandContactUs > .contactUsInfo {
  user-select: none;
  background-color: rgb(139, 192, 194);
  transform: translateY(-50%);
  margin: 0% 10px 0 25px;
  border-radius: 5px;
  padding: 10px;
}
.expandContactUs > .contactUsInfo::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right-color: black;
  border-left: 0;
  margin-top: -5px;
  margin-left: -15px;
}

.expandContactUs > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expandContactUs > form > input {
  width: 90%;
  margin: 10px;
  background-color: silver;
  border: none;
  outline-color: black;
  padding: 15px;
}
.expandContactUs > form > textarea {
  min-width: 90%;
  max-width: 90%;
  min-height: 250px;
  resize: vertical;
  margin: 10px;
  background-color: silver;
  border: none;
  outline-color: black;
  padding: 15px;
  font-size: larger;
}

.expandContactUs > form > button {
  border: none;
  background-color: teal;
  color: white;
  font-size: larger;
  /* padding: 15px 25px; */
  margin: 10px;
  width: 90%;
  padding: 10px 0px;
}

.scrollToTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1000;
  transform: scale(0);
  transition: all ease-in-out 0.2s;
}

.scrollToTop > button {
  padding: 15px;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  min-height: 100vh;
  height: auto;
  position: relative;
  color: white;
  overflow: hidden;
}

/* s_main */

.s_main {
  background: linear-gradient(120deg, #161f6d, #565ea5);
  display: flex;
  flex-direction: column;
}

.s_main > header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: lightgreen; */
  width: 100%;
  /* height: 13.75em; */
}

.s_main > header > img {
  /* margin: 1.25em; */
  /* position: absolute; */
  margin-top: 80px;
  margin-left: 50px;
  width: 120px;
  height: 120px;
  object-fit: contain;
  cursor: pointer;
  transition: all ease 250ms;
}

.s_main > header > .menu {
  display: none;
  transition: all ease 250ms;
  z-index: 1000;
}

.s_main > header > .menu > button {
  padding: 1.25em 0px;
  color: white;
  float: right;
}

.s_main > header > nav {
  /* position: absolute;
  top: 0;
  right: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.s_main > header > nav > a {
  padding: 0.625em 3.125em;
  margin: 0 0.938em;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  width: max-content;
}

.s_main > header > nav > a:hover {
  margin: 0 0.938em;
  padding: 8px 48px;
  border: 2px solid white;
  background: white;
  color: black;
}

.s_main > header > nav > a:last-of-type {
  border: 2px solid white;
  border-radius: 30px;
}

.s_main > header > nav > a:last-of-type:hover {
  padding: 10px 50px;
  margin: 0 15px;
}

.s_main > .main_con {
  flex: 1;
  display: flex;
}

.s_main > .main_con > div {
  padding: 0 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.s_main > .main_con > div:first-of-type {
  order: 2;
}
.s_main > .main_con > div:last-of-type {
  order: 1;
  padding-top: 200px;
  align-items: baseline;
}

.s_main > .main_con > div:first-of-type > img {
  max-height: 600px;
}
.s_main > .main_con > div:last-of-type > img {
  width: 100%;
  max-height: 250px;
}

.s_main > .main_con > div:last-of-type > .main_btn {
  margin-top: 10%;
  padding: 15px 25px;
  background-color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 5px;
  color: #161f6d;
  transition: all ease 0.2s;
}

.s_main > .Wave {
  object-fit: cover;
}

.s_main > .mWave {
  display: none;
  object-fit: cover;
}

/* s_main */

/* .s_offer */

.s_offer {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.s_offer > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
}

.s_offer > div:first-of-type > h1 {
  color: black;
  margin: 0 auto;
  font-size: 3.5em;
}

.s_offer > div:last-of-type {
  overflow: auto;
  flex: 1;
}
.s_offer > div:last-of-type::-webkit-scrollbar {
  display: none;
}

.s_offer > div:last-of-type > .offer_anim_card {
  margin: 2em auto;
  position: sticky;
  top: 2em;
  width: 60vw;
  height: 60vh;
  transform-origin: center top;
  border-radius: 60px;
  box-shadow: 0 0 10px 0 #161f6d;
  background-color: white;
  overflow: hidden;
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* backdrop-filter: blur(10px); */
}

.s_offer > div:last-of-type > .offer_anim_card > img {
  width: 50%;
  margin: -5px;
}

.s_offer > div:last-of-type > .offer_anim_card > div {
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s_offer > div:last-of-type > .offer_anim_card > div > ul > li {
  padding: 10px;
}

.s_offer > div:last-of-type > .offer_anim_card:nth-of-type(2) {
  /* top: 55%; */
  top: 3em;
}

.s_offer > div:last-of-type > .offer_anim_card:nth-of-type(3) {
  /* top: 60%; */
  top: 4em;
}

.s_offer > div:last-of-type > .offer_anim_card:nth-of-type(4) {
  /* top: 65%; */
  top: 5em;
}
.s_offer > div:last-of-type > .offer_anim_card:nth-of-type(5) {
  /* top: 70%; */
  top: 6em;
}

.s_offer > div:last-of-type > .offer_anim_card:nth-of-type(6) {
  /* top: 75%; */
  top: 7em;
  margin-bottom: calc(100vh - 60vh - 11em);
}

/* Offer Anim */

/* .s_offer */

.s_scouting {
  background: linear-gradient(120deg, #161f6d, #565ea5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.s_scouting > h1 {
  font-size: 3rem;
  margin: 3rem 0px;
  transition: all ease 200ms;
}

.s_scouting > div {
  width: 60%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.s_scouting > div > div {
  border-top: 5px solid white;
  width: 100%;
  transition: all ease 0.5s;
  overflow: auto;
}

.s_scouting > div > div::-webkit-scrollbar {
  display: none;
}

.s_scouting > div > div > p {
  margin: 10px;
  padding: 10px;
}

.s_scouting > div > div > h1 {
  position: absolute;
  transform: translate(10px, -150%);
}

.s_scouting > div > div > .expand {
  position: absolute;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  transition: all ease 0.5s;
  /* transform: translate(-120%, -60%); */
}

.s_scouting > div > div > .expand > button {
  color: white;
  padding: 15px;
}

/* footer */

footer {
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: start;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

footer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

footer > div > a {
  text-decoration: none;
  color: white;
  margin: 5px;
  padding: 5px;
}

footer > div > a:hover {
  color: yellow;
}

footer > div > span {
  color: white;
}

footer > p {
  user-select: none;
  position: absolute;
  left: 0;
  color: white;
  margin: 10px;
  text-align: center;
}

/* footer end*/

/* Tablet */

@media (max-width: 1200px) {
  /* s_main */
  .s_main > header {
    height: calc(100px + 2em);
    align-items: unset;
  }
  .s_main > header > img {
    margin: 1em;
    width: 100px;
    height: 100px;
  }

  .s_main > header > .menu {
    display: block;
  }
  .s_main > header > nav {
    display: none;
  }

  .s_main > .main_con {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .s_main > .main_con > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .s_main > .main_con > div:first-of-type {
    order: 1;
  }
  .s_main > .main_con > div:last-of-type {
    padding-top: unset;
    order: 2;
    align-items: center;
  }

  .s_main > .main_con > div:first-of-type > img {
    max-height: 450px;
  }
  .s_main > .main_con > div:last-of-type > img {
    width: 60%;
    max-height: 300px;
  }

  .s_main > .main_con > div:last-of-type > .main_btn {
    padding: 10px 20px;
  }
  .s_main > .Wave {
    display: none !important;
  }

  .s_main > .mWave {
    display: block;
  }

  /* .s_main */

  /* .s_scouting */
  .s_scouting > h1 {
    margin: 1em;
  }
  /* .s_scouting */

  /* .s_offer */

  .s_offer > div:last-of-type > .offer_anim_card {
    margin-top: 1em;
    width: 85vw;
  }

  /* .s_offer */

  /* footer */
  footer {
    flex-direction: column;
  }
  footer > p {
    position: unset;
  }
  /* footer */
}

/* Tablet end */

/* Mobile */

@media (max-width: 800px) {
  .app {
    scroll-snap-type: unset;
  }
  .expandContactUs {
    overflow: visible !important;
    width: 100vw !important;
    height: 100vh !important;
    border-radius: unset !important;
    margin: unset !important;
    z-index: 1001;
  }

  section {
    max-height: unset;
  }

  /* .s_main */
  .s_main > header {
    height: calc(60px + 2em);
  }
  .s_main > header > img {
    margin: 1em;
    width: 60px;
    height: 60px;
  }
  .s_main > .main_con > div:last-of-type > img {
    width: 100%;
    max-height: 250px;
  }

  /* .s_main */

  /* .s_offer */

  .s_offer {
    max-height: unset;
  }
  .s_offer > div:first-of-type > h1 {
    font-size: 2em;
  }

  .s_offer > div:last-of-type > .offer_anim_card {
    width: 95vw;
    max-width: 350px;
    border-radius: 25px;
    max-height: 250px;
    margin: 20px auto;
    top: unset;
  }
  .s_offer > div:last-of-type > .offer_anim_card > img {
    width: 80%;
  }
  .s_offer > div:last-of-type > .offer_anim_card > div > ul > li {
    display: none;
  }
  .s_offer > div:last-of-type > .offer_anim_card:nth-of-type(6) {
    /* margin-bottom: calc(100vh - 250px - 7em); */
    margin-bottom: 20px;
  }

  /* .s_offer */

  /* .s_scouting */
  .s_scouting > h1 {
    font-size: 2em;
    text-align: center;
  }
  .s_scouting > div > div > .expand {
    width: 40px;
    height: 40px;
  }

  @media only screen and (orientation: landscape) {
    .app {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .app > div,
    .app > section,
    .app > footer {
      display: none;
    }
    .app > h1 {
      display: block !important;
    }
  }
}

/* Mobile end */
